*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
main{
    font-size: 3rem;
    height: 35vh;
    background-color: red;
    display: flex;
    justify-content: left;
    align-items: center;
}