*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 500px;
    height: 500px;
    /* border: 1px solid; */
    border-radius: 50%;
    /* background-image: url(./images.jpg); */
    background-position: center;
    /* background-size: cover; */
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* background-image: linear-gradient(red,yellow); */
    /* background-image: radial-gradient(red,yellow,green); */
    background-image: conic-gradient(red,yellow,blue,green,red);
}